{% extends "base.html" %} {% block title %} Workspace {% endblock %}

{% block content %}
<div class="container text-center workspace">
  <div class="row row1">
    <div class="col col-tools">
      <div class="filters">
        <span>Brightness</span>
        <input id="brightnessScale" type="range" min="0" max="200" value="100" oninput="adjustBrightness(this.value)">
        <p id="brightnessValue">0</p>
        <span>Contrast</span>
        <input id="contrastScale" type="range" min="0" max="200" value="100" oninput="adjustContrast(this.value)">
        <p id="contrastValue">0</p>
        <span>Saturation</span>
        <input id="saturationScale" type="range" min="0" max="200" value="100" oninput="adjustSaturation(this.value)">
        <p id="saturationValue">0</p>
        <span>Tint</span>
        <input id="tintScale" type="range" min="0" max="360" value="0" oninput="adjustTint(this.value)">
        <p id="tintValue">0</p>
        <span>Noise Reduction</span>
        <input id="blurScale" type="range" min="0" max="5" step="0.05" value="0" oninput="adjustBlur(this.value)">
        <p id="blurValue">0</p>
      </div>
    </div>
    <div class="col col-frame">
      <!-- <img id="image" src="{{ image.image.url }}" alt="uploaded image" style="filter: brightness(100%) contrast(100%) saturate(100%) hue-rotate(0deg) blur(0.0px)"> -->
      <img id="image" name="{{ imgId }}" alt="uploaded image" style="filter: brightness(100%) contrast(100%) saturate(100%) hue-rotate(0deg) blur(0.0px)">
    </div>
  </div>
  <div class="row row2">
    <div class="col col-button">
      <button id="closeImage" type="button" class="btn btn-outline-light">Close</button>
      <button id="downloadImage" type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
        </svg>
      Download
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
{% load static %}
  <script type="module" src="{% static 'js/edit_image.js' %}"></script>
{% endblock %}